<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- add favicon -->

    <!-- add css -->
    {{ 'bootstrap-v5.0.2.min.css' | asset_url | stylesheet_tag }}
    {{ 'fontawesome-v6.min.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel-v2.3.4.min.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.default-v2.3.4.min.css' | asset_url | stylesheet_tag }}
    {{ 'style-settings.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    
    <!-- page SEO
        * title tag
        * meta description
        * canonicalURL
     -->
    <!-- page title -->
    <title>
        {{ page_title -}}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <!-- meta description -->
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- canonical url -->
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- load scripts from shopify -->
    {{ content_for_header }}
</head>
<body class="template-{{ template | handleize }}" id="{{ page_title | handleize }}">

    <!-- header -->
    {% section 'header' %}
    <!-- main content -->
    
    <div class="wrapper">
        <!-- dynamically output from all template  -->
        {{ content_for_layout }}
    </div>

    <!-- all js -->
    <script src="{{ 'jquery-v3.6.0.min.js' | asset_url }}" defer></script>
    <script src="{{ 'popper-v2.9.2.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap-v5.0.2.min.js' | asset_url }}" defer></script>
    <script src="{{ 'main.js' | asset_url }}" defer></script>
</body>
</html>